.Chatpage-top{
height: 10vh;
}
.Chatpage-mid{
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
}
.Chatpage-bot{
    height: 7vh;
}


@media screen and (max-width: 1024px) {
    .in-small-hidden {
      display: none;
    }
  }
  
